{% extends 'home/header.html' %}
{% load static %}

{% block content %}

    {% include 'home/navbar.html' %}
    <div class="d-flex justify-content-center">
    <h1>Mailbox Create</h1>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Sucess: </strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="d-flex justify-content-center">
    <form method ="post">
        {% csrf_token %} 

        {{ form.as_p }}

        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    </div>
    

{% endblock %}